openapi: 3.0.3
info:
  title: Jersey Webshop API
  description: API za webshop fan sportskih dresova (nogomet, F1, košarka)
  version: 1.0.0

servers:
  - url: https://api.tvojdomena.com/api
    description: Produkcija
  - url: http://localhost:8000/api
    description: Lokalni razvoj

tags:
  - name: Products (public)
  - name: Orders (public)
  - name: Admin - Auth
  - name: Admin - Products
  - name: Admin - Orders
  - name: Admin - Dashboard

paths:
  # ============================================
  # PUBLIC — PRODUCTS
  # ============================================
  /products:
    get:
      tags: [Products (public)]
      summary: Lista proizvoda s filterima
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [football, f1, basketball]
        - name: club
          in: query
          schema:
            type: string
        - name: kit_type
          in: query
          schema:
            type: string
            enum: [home, away, third, fourth]
        - name: audience
          in: query
          schema:
            type: string
            enum: [kids, men, women, unisex]
        - name: season
          in: query
          schema:
            type: string
        - name: personalization
          in: query
          description: Filtrira proizvode koji dopuštaju personalizaciju imena/broja
          schema:
            type: string
            enum: [none, preset_only, custom_text, both]
        - name: status
          in: query
          description: Default je "active" — draft/sold_out se ne vraćaju javno osim ako nije eksplicitno traženo
          schema:
            type: string
            enum: [active, sold_out]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Lista proizvoda
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductSummary'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /products/{id}:
    get:
      tags: [Products (public)]
      summary: Detalj proizvoda (sa slikama i varijantama)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalj proizvoda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '404':
          description: Proizvod nije pronađen

  # ============================================
  # PUBLIC — ORDERS
  # ============================================
  /orders:
    post:
      tags: [Orders (public)]
      summary: Kreiranje nove narudžbe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Narudžba kreirana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmation'
        '422':
          description: Validacijska greška (npr. nema zalihe za traženu veličinu)

  /orders/lookup:
    get:
      tags: [Orders (public)]
      summary: Kupac provjerava status narudžbe (bez internog trackinga)
      parameters:
        - name: order_reference
          in: query
          required: true
          schema:
            type: string
          example: ORD-8F3K2
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Status narudžbe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatusPublic'
        '404':
          description: Narudžba nije pronađena

  # ============================================
  # ADMIN — AUTH
  # ============================================
  /admin/login:
    post:
      tags: [Admin - Auth]
      summary: Admin login (Sanctum token)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Uspješna prijava
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Pogrešni podaci

  # ============================================
  # ADMIN — PRODUCTS
  # ============================================
  /admin/products:
    get:
      tags: [Admin - Products]
      summary: Lista svih proizvoda (uključujući draft/sold_out)
      security: [{ sanctum: [] }]
      responses:
        '200':
          description: Lista proizvoda
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductDetail'
    post:
      tags: [Admin - Products]
      summary: Kreiranje novog proizvoda
      security: [{ sanctum: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Proizvod kreiran
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'

  /admin/products/{id}:
    put:
      tags: [Admin - Products]
      summary: Izmjena proizvoda
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Proizvod ažuriran
    delete:
      tags: [Admin - Products]
      summary: Brisanje proizvoda
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Obrisano

  /admin/products/{id}/images:
    post:
      tags: [Admin - Products]
      summary: Upload slika za proizvod (multipart)
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Slike uploadane

  /admin/products/{id}/variants:
    put:
      tags: [Admin - Products]
      summary: Postavljanje/ažuriranje veličina i zaliha
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                variants:
                  type: array
                  items:
                    type: object
                    properties:
                      size:
                        type: string
                      stock_quantity:
                        type: integer
      responses:
        '200':
          description: Varijante ažurirane

  /admin/products/{id}/players:
    put:
      tags: [Admin - Products]
      summary: Postavljanje gotove liste igrača/vozača za personalizaciju (relevantno kad je personalization = 'preset_only' ili 'both')
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                players:
                  type: array
                  items:
                    type: object
                    properties:
                      player_name:
                        type: string
                      player_number:
                        type: string
                        nullable: true
      responses:
        '200':
          description: Lista igrača ažurirana

  # ============================================
  # ADMIN — ORDERS
  # ============================================
  /admin/orders:
    get:
      tags: [Admin - Orders]
      summary: Lista svih narudžbi
      security: [{ sanctum: [] }]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
      responses:
        '200':
          description: Lista narudžbi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderAdmin'

  /admin/orders/{id}/status:
    put:
      tags: [Admin - Orders]
      summary: Promjena statusa narudžbe (triggira customer notifikaciju)
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
                tracking_number_internal:
                  type: string
                  description: Popunjava se kad status prelazi u "shipped"
      responses:
        '200':
          description: Status ažuriran

  # ============================================
  # ADMIN — DASHBOARD
  # ============================================
  /admin/dashboard:
    get:
      tags: [Admin - Dashboard]
      summary: Osnovna statistika
      security: [{ sanctum: [] }]
      responses:
        '200':
          description: Statistika
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_orders_this_month:
                    type: integer
                  revenue_this_month:
                    type: number
                  top_products:
                    type: array
                    items:
                      type: object
                      properties:
                        product_name:
                          type: string
                        units_sold:
                          type: integer

components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer

  schemas:
    ProductSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        club_or_team:
          type: string
        category:
          type: string
          enum: [football, f1, basketball]
        kit_type:
          type: string
          enum: [home, away, third, fourth]
        audience:
          type: string
          enum: [kids, men, women, unisex]
        season:
          type: string
        price:
          type: number
        primary_image_url:
          type: string
        status:
          type: string

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/ProductSummary'
        - type: object
          properties:
            description:
              type: string
            personalization:
              type: string
              enum: [none, preset_only, custom_text, both]
              description: >
                'none' = nema personalizacije, 'preset_only' = samo iz gotove liste
                (vidi available_players), 'custom_text' = slobodan upis imena/broja,
                'both' = kupac bira jedno od dvoje
            available_players:
              type: array
              description: Gotova lista igrača/vozača za ovaj proizvod (prazno ako personalization = 'none' ili 'custom_text')
              items:
                type: object
                properties:
                  id:
                    type: integer
                  player_name:
                    type: string
                  player_number:
                    type: string
                    nullable: true
            model_3d_url:
              type: string
              nullable: true
              description: Link na GLB/3D model za 360 prikaz (Blender pipeline) — null dok nije generiran
            images:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  sort_order:
                    type: integer
                  is_primary:
                    type: boolean
            variants:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  size:
                    type: string
                  stock_quantity:
                    type: integer

    CreateProductRequest:
      type: object
      required: [name, club_or_team, category, kit_type, audience, price]
      properties:
        name:
          type: string
        club_or_team:
          type: string
        category:
          type: string
          enum: [football, f1, basketball]
        kit_type:
          type: string
          enum: [home, away, third, fourth]
        audience:
          type: string
          enum: [kids, men, women, unisex]
        season:
          type: string
        personalization:
          type: string
          enum: [none, preset_only, custom_text, both]
          default: none
        model_3d_url:
          type: string
          nullable: true
        price:
          type: number
        description:
          type: string
        status:
          type: string
          enum: [active, sold_out, draft]

    CreateOrderRequest:
      type: object
      required: [customer, items, shipping_address]
      properties:
        customer:
          type: object
          required: [email, name]
          properties:
            email:
              type: string
              format: email
            name:
              type: string
            phone:
              type: string
        items:
          type: array
          items:
            type: object
            required: [product_variant_id, quantity]
            properties:
              product_variant_id:
                type: integer
              quantity:
                type: integer
              product_player_id:
                type: integer
                nullable: true
                description: Odabir s gotove liste (product_players) — koristi se kad proizvod ima preset_only ili both
              custom_player_name:
                type: string
                nullable: true
                description: Slobodan upis imena — koristi se kad proizvod ima custom_text ili both
              custom_player_number:
                type: string
                nullable: true
        shipping_address:
          type: object
          required: [line1, city, postal_code, country]
          properties:
            line1:
              type: string
            line2:
              type: string
            city:
              type: string
            postal_code:
              type: string
            country:
              type: string
              description: ISO 3166-1 alpha-2 (npr. "HR", "DE")

    OrderConfirmation:
      type: object
      properties:
        order_reference:
          type: string
          example: ORD-8F3K2
        total_price:
          type: number
        status:
          type: string

    OrderStatusPublic:
      type: object
      description: Interni status bez pravog tracking broja (osim kad je poslano)
      properties:
        order_reference:
          type: string
        status_label:
          type: string
          description: Human-readable tekst, npr. "Naručeno kod dobavljača"
        estimated_delivery:
          type: string
          format: date
        tracking_number:
          type: string
          nullable: true
          description: Postoji samo kad status = "shipped" ili "delivered"

    OrderAdmin:
      type: object
      properties:
        id:
          type: integer
        order_reference:
          type: string
        customer:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        status:
          type: string
        total_price:
          type: number
        items:
          type: array
          items:
            type: object
            properties:
              product_name:
                type: string
              size:
                type: string
              quantity:
                type: integer
        created_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_items:
          type: integer
