openapi: 3.0.3
info:
  title: Jersey Webshop API
  description: |
    API za webshop fan sportskih dresova (nogomet, F1, košarka).

    Proizvod je jedna tablica: veličine (`sizes`) i slike (`images`) su nizovi
    na samom dresu, uz **jedan** 3D model (`model_3d_url`). Slike se hostaju
    vanjski i šalju kao URL-ovi; prva u nizu je primarna. Zalihe nema — sve
    navedene veličine su uvijek dostupne.

    Ime i broj za tisak upisuje kupac pri narudžbi. Liste igrača backend ne
    poznaje — frontend ih vuče s vanjskog API-ja.

    Admin endpointi traže Sanctum bearer token iz `POST /admin/login`.
  version: 2.0.0

servers:
  - url: https://api.tvojdomena.com/api
    description: Produkcija
  - url: http://localhost:8000/api
    description: Lokalni razvoj (php artisan serve)

tags:
  - name: Products (public)
  - name: Orders (public)
  - name: Webhooks
  - name: Admin - Auth
  - name: Admin - Products
  - name: Admin - Orders
  - name: Admin - Dashboard

paths:
  # ============================================
  # PUBLIC — PRODUCTS
  # ============================================
  /products:
    get:
      tags: [Products (public)]
      summary: Lista proizvoda s filterima
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [football, basketball, formula]
        - name: club
          in: query
          description: >
            Djelomično podudaranje, bez obzira na velika/mala slova
            (LIKE %vrijednost% / ILIKE na Postgresu) — `Real` nalazi `Real Madrid`.
            Namijenjeno slobodnom tekstu iz input polja.
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [kids, adult]
        - name: season
          in: query
          schema:
            type: string
        - name: status
          in: query
          description: Default je "active" — draft/sold_out se ne vraćaju javno osim ako nije eksplicitno traženo
          schema:
            type: string
            enum: [active, sold_out]
        - name: size
          in: query
          description: >
            Vraća proizvode koji nude tu veličinu. Zalihe nema — sve navedene
            veličine su uvijek dostupne, a nedostupna se miče iz `sizes`. Nije
            enum jer uz S–XXL postoje i dječje veličine (128, 140, 152, 164);
            nepoznata veličina daje 200 s praznim `data`, ne 422. Usporedba je
            točna (case-sensitive).
          schema:
            type: string
          example: M
        - name: sort
          in: query
          description: >
            Stupac po kojem se sortira. Bez njega je poredak `id desc`
            (najnovije prvo); `id desc` je i tiebreaker kod jednakih vrijednosti.
          schema:
            type: string
            enum: [created_at, price, name]
        - name: direction
          in: query
          description: Smjer sortiranja, primjenjuje se samo uz `sort`.
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Veličina stranice; bez njega vrijedi `shop.products_per_page` (15).
          schema:
            type: integer
            minimum: 1
            maximum: 48
      responses:
        '200':
          description: Lista proizvoda
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductSummary'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '422':
          $ref: '#/components/responses/ValidationError'

  /products/filters:
    get:
      tags: [Products (public)]
      summary: Vrijednosti za filtere koji nisu enum (klub, sezona, veličina)
      description: >
        Distinct klubovi, sezone i veličine iz **aktivnih** proizvoda, bez
        praznih vrijednosti. Klubovi su sortirani abecedno uzlazno, sezone
        silazno po vrijednosti — leksikografski, jer je `season` slobodan string
        i miješa formate (`25/26`, `2025`) — a veličine kanonski (S, M, L, XL,
        pa dječje brojčane). Postoji da frontend ne mora hardkodirati liste koje
        se s vremenom raziđu s bazom.
      responses:
        '200':
          description: Popisi vrijednosti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFilters'

  /products/{id}:
    get:
      tags: [Products (public)]
      summary: Detalj proizvoda (sa slikama i veličinama)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalj proizvoda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '404':
          description: Proizvod nije pronađen

  # ============================================
  # PUBLIC — ORDERS
  # ============================================
  /orders:
    post:
      tags: [Orders (public)]
      summary: Kreiranje nove narudžbe i otvaranje Stripe Checkouta
      description: >
        Narudžba se zapisuje s `payment_status: unpaid` i otvara se Stripe
        Checkout sesija. Frontend kupca redirecta na `stripe_checkout_url`;
        plaćanje potvrđuje tek `POST /webhooks/stripe`. Polje `status` je
        fulfillment os i ostaje `ordered` neovisno o plaćanju.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Narudžba kreirana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmation'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          description: Stripe nije uspio otvoriti Checkout sesiju

  /orders/lookup:
    get:
      tags: [Orders (public)]
      summary: Kupac provjerava status narudžbe (bez internog trackinga)
      parameters:
        - name: order_reference
          in: query
          required: true
          schema:
            type: string
          example: ORD-8F3K2
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Status narudžbe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatusPublic'
        '404':
          description: >
            Narudžba nije pronađena. Isti odgovor za krivu referencu i krivi
            email, da se ne može pogađati koje je od to dvoje točno.
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: Previše pokušaja — ograničeno na 30 zahtjeva u minuti

  /orders/{id}/status:
    get:
      tags: [Orders (public)]
      summary: Status plaćanja samo po referenci narudžbe
      description: >
        Namijenjeno stranici na koju Stripe vrati kupca nakon Checkouta, dok
        čeka webhook potvrdu. Referenca je kratka i pogodiva, pa odgovor
        namjerno ne sadrži ništa osobno — ni email, ni adresu, ni iznos, ni
        tracking. Puni status je iza `/orders/lookup`, koji traži i email.
        Ograničeno na 30 zahtjeva u minuti.
      parameters:
        - name: id
          in: path
          required: true
          description: order_reference, npr. ORD-8F3K2
          schema:
            type: string
          example: ORD-8F3K2
      responses:
        '200':
          description: Status plaćanja
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaymentStatus'
        '404':
          description: Narudžba nije pronađena
        '429':
          description: Previše zahtjeva

  # ============================================
  # WEBHOOKS
  # ============================================
  /webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Stripe webhook
      description: >
        Poziva ga isključivo Stripe. Autentikacija je HMAC potpis u zaglavlju
        `Stripe-Signature`, provjeren protiv `STRIPE_WEBHOOK_SECRET` nad sirovim
        tijelom zahtjeva; CSRF ne postoji jer je `api` grupa stateless.
        Obrađuje `checkout.session.completed` (→ `payment_status: paid`, šalje
        mail potvrde), te `checkout.session.expired` i
        `payment_intent.payment_failed` (→ `payment_status: failed`, nikad ne
        poništava već plaćenu narudžbu). Obrada je idempotentna jer Stripe
        ponavlja dostave. Nakon uspješne verifikacije uvijek vraća 200, i kad
        narudžba nije pronađena — svaki drugi status gura Stripe u retry petlju.
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: Stripe Event objekt (sirovi JSON, potpis se računa nad bajtovima)
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Event zaprimljen
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true
        '400':
          description: Potpis nije valjan ili nedostaje

  # ============================================
  # ADMIN — AUTH
  # ============================================
  /admin/login:
    post:
      tags: [Admin - Auth]
      summary: Admin login (Sanctum token)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Uspješna prijava
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Pogrešni podaci (nepostojeći korisnik, kriva lozinka ili korisnik nije admin)
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: Previše pokušaja prijave (rate limit 6/min)

  # ============================================
  # ADMIN — PRODUCTS
  # ============================================
  /admin/products:
    get:
      tags: [Admin - Products]
      summary: Lista svih proizvoda (uključujući draft/sold_out)
      security: [{ sanctum: [] }]
      responses:
        '200':
          description: Lista proizvoda
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Admin - Products]
      summary: Kreiranje novog proizvoda
      security: [{ sanctum: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Proizvod kreiran
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /admin/products/{id}:
    put:
      tags: [Admin - Products]
      summary: Izmjena proizvoda
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: |
            Proizvod ažuriran. PUT je full replace — izostavljena opcionalna polja
            (`season`, `description`, `model_3d_url`, `images`) se brišu.
            Iznimka je `status`: izostavljanjem zadržava trenutnu vrijednost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Proizvod nije pronađen
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags: [Admin - Products]
      summary: Brisanje proizvoda
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: |
            Obrisano. Slike i varijante padaju kaskadno.
        '409':
          description: |
            Proizvod se nalazi u narudžbama. order_items pokazuje na varijantu preko
            NOT NULL FK-a bez ON DELETE, pa bi brisanje odnijelo i povijest narudžbi —
            za povlačenje iz ponude koristi status `sold_out` ili `draft`.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Proizvod nije pronađen

  # ============================================
  # ADMIN — ORDERS
  # ============================================
  /admin/orders:
    get:
      tags: [Admin - Orders]
      summary: Lista svih narudžbi
      security: [{ sanctum: [] }]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
        - name: payment_status
          in: query
          description: Izdvaja npr. samo plaćene narudžbe, bez napuštenih checkouta
          schema:
            $ref: '#/components/schemas/PaymentStatus'
      responses:
        '200':
          description: Lista narudžbi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderAdmin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /admin/orders/{id}/status:
    put:
      tags: [Admin - Orders]
      summary: Promjena statusa narudžbe (triggira customer notifikaciju)
      security: [{ sanctum: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
                tracking_number_internal:
                  type: string
                  description: Popunjava se kad status prelazi u "shipped"
      responses:
        '200':
          description: Status ažuriran. Promjena statusa šalje email notifikaciju kupcu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAdmin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Narudžba nije pronađena
        '422':
          $ref: '#/components/responses/ValidationError'

  # ============================================
  # ADMIN — DASHBOARD
  # ============================================
  /admin/dashboard:
    get:
      tags: [Admin - Dashboard]
      summary: Osnovna statistika
      security: [{ sanctum: [] }]
      responses:
        '200':
          description: Statistika
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_orders_this_month:
                    type: integer
                  revenue_this_month:
                    type: number
                  top_products:
                    type: array
                    description: Top 5 po prodanim komadima, all-time (za razliku od polja iznad koja su za tekući mjesec)
                    items:
                      type: object
                      properties:
                        product_name:
                          type: string
                        units_sold:
                          type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  responses:
    Unauthorized:
      description: Nedostaje ili je nevažeći token
    Forbidden:
      description: Token pripada korisniku koji nije administrator
    ValidationError:
      description: Validacijska greška
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

  securitySchemes:
    sanctum:
      type: http
      scheme: bearer

  schemas:
    ProductSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        club_or_team:
          type: string
        category:
          type: string
          enum: [football, basketball, formula]
        type:
          type: string
          enum: [kids, adult]
        season:
          type: string
        price:
          type: number
        primary_image_url:
          type: string
          format: uri
          nullable: true
          description: URL primarne slike, null ako proizvod nema slika
        status:
          type: string
          enum: [active, sold_out, draft]
        sizes:
          type: array
          description: >
            Veličine koje proizvod nudi, sortirane (slovne kanonski S→XXXL,
            brojčane dječje uzlazno iza njih). Zalihe nema — sve navedeno je
            uvijek dostupno, a nedostupna veličina se miče iz niza. Kartica time
            može složiti liniju košarice bez dohvata detalja.
          items:
            type: string
          example: [S, M, L, XL]
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Trenutak kreiranja — koristi se za oznaku "novo" i `sort=created_at`

    ProductFilters:
      type: object
      properties:
        clubs:
          type: array
          items:
            type: string
          example: [GNK Dinamo, Real Madrid, Scuderia Ferrari]
        seasons:
          type: array
          items:
            type: string
          example: ['25/26', '24/25', '2025']
        sizes:
          type: array
          items:
            type: string
          example: [S, M, L, XL, '128', '140']

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/ProductSummary'
        - type: object
          properties:
            description:
              type: string
            model_3d_url:
              type: string
              nullable: true
              description: Jedan link na GLB/3D model za 360 prikaz (Blender pipeline) — null dok nije generiran
            images:
              type: array
              description: >
                Vanjski URL-ovi slika. Redoslijed je izvor istine: prva slika je
                primarna i vraća se kao `primary_image_url` u listi.
              items:
                type: string
                format: uri

    CreateProductRequest:
      type: object
      required: [name, club_or_team, category, type, price, sizes]
      properties:
        name:
          type: string
        club_or_team:
          type: string
        category:
          type: string
          enum: [football, basketball, formula]
        type:
          type: string
          enum: [kids, adult]
        season:
          type: string
          maxLength: 50
        price:
          type: number
        description:
          type: string
        sizes:
          type: array
          minItems: 1
          maxItems: 20
          description: >-
            Veličine koje proizvod nudi. Bez zalihe — sve navedeno je uvijek
            dostupno, pa se nedostupna veličina jednostavno makne iz niza.
            Slobodan string jer uz S–XXL postoje i dječje brojčane (128, 140).
            PUT je full replace: izostavljene veličine se brišu s ponude, ali
            ostaju zapisane na već kreiranim narudžbama.
          items:
            type: string
            maxLength: 10
          example: [S, M, L, XL]
        images:
          type: array
          maxItems: 20
          description: >-
            Vanjski URL-ovi slika (npr. CDN). Redoslijed je značajan — prva je
            primarna. PUT je full replace: izostavljanjem ili praznim nizom se
            brišu.
          items:
            type: string
            format: uri
        model_3d_url:
          type: string
          nullable: true
          description: Jedan GLB/3D model po dresu (Blender pipeline) — null dok nije generiran
        status:
          type: string
          enum: [active, sold_out, draft]

    CreateOrderRequest:
      type: object
      required: [customer, items, shipping_address]
      properties:
        customer:
          type: object
          required: [email, name]
          properties:
            email:
              type: string
              format: email
            name:
              type: string
            phone:
              type: string
        items:
          type: array
          items:
            type: object
            required: [product_id, size, quantity]
            properties:
              product_id:
                type: integer
              size:
                type: string
                description: >
                  Mora biti jedna od veličina koje proizvod nudi (`sizes`),
                  inače 422. Sprema se kao snapshot na stavku narudžbe, pa
                  ostaje čitljiva i ako je proizvod kasnije prestane nuditi.
                example: M
              quantity:
                type: integer
                description: Bez gornje granice — zalihe nema, sve je uvijek dostupno
              custom_player_name:
                type: string
                nullable: true
                description: >
                  Ime za tisak na dresu, slobodan upis. Liste igrača backend ne
                  poznaje — frontend ih vuče s vanjskog API-ja i šalje ovdje
                  kao običan tekst.
              custom_player_number:
                type: string
                nullable: true
                description: Broj za tisak; smije se slati i bez imena
        shipping_address:
          type: object
          required: [line1, city, postal_code, country]
          properties:
            line1:
              type: string
            line2:
              type: string
            city:
              type: string
            postal_code:
              type: string
            country:
              type: string
              description: ISO 3166-1 alpha-2 (npr. "HR", "DE")

    OrderConfirmation:
      type: object
      properties:
        order_reference:
          type: string
          example: ORD-8F3K2
        total_price:
          type: number
        status:
          type: string
          description: Fulfillment status; uvijek "ordered" kod kreiranja
          enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
        payment_status:
          $ref: '#/components/schemas/PaymentStatus'
        stripe_checkout_url:
          type: string
          format: uri
          description: URL na koji frontend odmah redirecta kupca
          example: https://checkout.stripe.com/c/pay/cs_test_a1b2c3

    OrderStatusPublic:
      type: object
      description: Interni status bez pravog tracking broja (osim kad je poslano)
      properties:
        order_reference:
          type: string
        payment_status:
          $ref: '#/components/schemas/PaymentStatus'
        status:
          type: string
          description: Fulfillment status; frontend ga koristi za korake trackera
          enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
        status_label:
          type: string
          description: >
            Human-readable tekst. Dok plaćanje nije prošlo vraća stanje
            plaćanja ("Čeka plaćanje"), a tek nakon toga fulfillment status
            ("Naručeno kod dobavljača").
        estimated_delivery:
          type: string
          format: date
          description: Fiksni offset od datuma narudžbe (config `shop.estimated_delivery_days`, default 28 dana)
        tracking_number:
          type: string
          nullable: true
          description: Postoji samo kad status = "shipped" ili "delivered"

    PaymentStatus:
      type: string
      description: Stanje naplate — zasebna os od fulfillment `status`
      enum: [unpaid, paid, failed, refunded]

    OrderPaymentStatus:
      type: object
      description: >
        Minimalan javni odgovor za lookup samom referencom — bez osobnih
        podataka i bez trackinga.
      properties:
        order_reference:
          type: string
          example: ORD-8F3K2
        payment_status:
          $ref: '#/components/schemas/PaymentStatus'
        status:
          type: string
          enum: [ordered, sent_to_supplier, arrived_hr, shipped, delivered]
        status_label:
          type: string
          example: Narudžba zaprimljena

    OrderAdmin:
      type: object
      properties:
        id:
          type: integer
        order_reference:
          type: string
        customer:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        status:
          type: string
        payment_status:
          $ref: '#/components/schemas/PaymentStatus'
        total_price:
          type: number
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
                description: >
                  Jedino pouzdano razlikovanje dresa — isti naziv (npr.
                  "Dinamo Home 25/26") postoji i u dječjoj i u odrasloj verziji,
                  pod različitim id-em.
              product_name:
                type: string
              size:
                type: string
                description: Veličina koju je kupac naručio, snapshot u trenutku kupnje
              quantity:
                type: integer
              player_name:
                type: string
                nullable: true
                description: Ime za tisak, onako kako ga je kupac upisao; null kad dres ide bez tiska
              player_number:
                type: string
                nullable: true
                description: Broj za tisak; može postojati i bez imena
        created_at:
          type: string
          format: date-time

    ValidationError:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_items:
          type: integer
